body{
  font-family: 'Noto Serif','san-serif','Helvetica';
  height: 100vh;
}
.highlighted{
  border-bottom: 2px solid white;
}
.bg-wine{
  background-image: url('./assets/wine.png');
  background-size: cover;
  background-position: top center;
  height: 100vh;
}
@media only screen and (max-width: 600px) {
  .bg-wine{
    height: 100%;
  }
}
